{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
    <div class="mb-5">
        <img src="/static/logo.svg"></img>
    </div>
    <div class="container list-text">
        <h2>About Library50</h2>
        <p>Welcome to Library50, an innovative platform designed to provide book enthusiasts, students, and
            researchers with easy access to a vast collection of books and literature. This project is built using Flask, a
            lightweight and powerful web framework for Python, and leverages the Open Library API to bring you comprehensive
            book information and resources.</p>
        <h2>Features</h2>
        <ul>
            <li><strong>Extensive Book Database:</strong> Access detailed information on millions of books, including
                titles, authors, publication dates, and ISBN numbers.</li>
            <li><strong>Search Functionality:</strong> Easily search for books by title, author, subject, or ISBN using our
                intuitive search bar.</li>
            <li><strong>Book Details:</strong> View comprehensive book details, including summaries, cover images, and links
                to borrow or purchase.</li>
            <li><strong>User-Friendly Interface:</strong> Enjoy a clean and easy-to-navigate interface designed to enhance
                your browsing and reading experience.</li>
            <li><strong>Responsive Design:</strong> Access our library from any device, whether it's a desktop, tablet, or
                smartphone, ensuring a consistent experience across all platforms.</li>
        </ul>

        <h2>Tech stack</h2>
        <ul>
            <li><strong>Flask:</strong> A micro web framework for Python, known for its simplicity and flexibility, which
                allows us to build a robust and scalable web application.</li>
            <li><strong>Open Library API:</strong> An open and editable library catalog that provides a wealth of
                information about books, authors, and publishers, making it an invaluable resource for our project.</li>
            <li><strong>HTML/CSS/JavaScript:</strong> Standard web technologies used to create a responsive and interactive
                user interface.</li>
        </ul>

        <h2>Open Library</h2>
        <p>Open Library is an initiative of the Internet Archive, a non-profit organization dedicated to building a digital
            library of Internet sites and other cultural artifacts in digital form. Open Library's goal is to provide a page
            on the web for every book ever published. With millions of books available, Open Library is a comprehensive and
            valuable resource for book lovers and researchers alike.</p>
        <ul>
            <li><strong>GitHub Repository:</strong> <a href="https://github.com/its-nmt05/library50" target="_blank">Link to
                    project's GitHub repository</a></li>
            <li><strong>Contact Me:</strong> <a href="https://www.linkedin.com/in/its-nmt05/" target="_blank">My
                    Linkedin</a></li>
        </ul>

        <h2>Acknowledgements</h2>
        <p>I would like to thank the following for their support and resources:</p>
        <ul>
            <li><strong>CS50:</strong> For providing the foundational knowledge and support to undertake this project.</li>
            <li><strong>Open Library:</strong> For their extensive API and commitment to making book information accessible
                to all.</li>
            <li><strong>Flask Community:</strong> For the comprehensive documentation and community support that made
                development a smooth process.</li>
        </ul>

        <p>Thank you for visiting Library50. I hope you find it useful and inspiring. Happy reading!</p>
    </div>
{% endblock %}